@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body{
    font-family:Poppins,sans-serif;
    margin:0;
    background:#F5F7FA;
    color:#333;
}

header{
    background:#1E3A8A;
    color:white;
    padding:60px;
    text-align:center;
}
button{
    background:#3B82F6;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
}
button:hover{
    background:#2563EB;
}
section{
    padding:40px;
    max-width:900px;
    margin:auto;
}
input,textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}